*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: none;
}

body {
    background: #ffffeb;
}

img {
    max-width: 100%;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container1 {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    /* display: flex => flex container */
    display: flex;
    justify-content: space-between;
    /* can't use yet */
    /* gap: 100px; */
}

.col {
    /* these are now flex items */
    width: 90%;
    flex-direction: column;
}

.col+.col {
    margin-left: 30px;
}

.nav__item+.nav__item {
    margin-left: 4.5em;
}

header {
    padding: .5em 0;
}

.txt1 {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.7rem;
    margin: 0;
    padding-top: .6rem;
}

.txt2 {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 3.4rem;
    margin: 0;
    padding: 1.3rem .2rem;
    letter-spacing: 0.1rem;
}

.txt3 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    margin: 0 0 3rem 0;
    padding: 1rem 4rem 0 .5rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    padding-top: .7rem;
}

.nav__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav__link {
    display: flex;
    align-items: center;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 550;
    font-size: 1.6rem;
    text-decoration: none;
    color: black;
}

.nav__link {
    position: relative;
    color: #000;
    text-decoration: none;
}

.nav__link:hover {
    color: #000;
}

.nav__link:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav__link:hover::before {
    transform: scaleX(1);
}

.hero-1 {
    justify-content: space-between;
    display: flex;
    margin-top: 7rem;
    padding: 0;
    max-width: 100%;
}

.hero__text {
    line-height: 2rem;
    width: 60%;
    padding: 5rem 1.5rem 0 1.5rem;
    margin: 0;
}

.hero__img {
    width: 36%;
    margin: 0;
    padding: 0;
}

[class|=btn-1] {
    padding: .9rem 1.6rem;
    background: black;
    border: none;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    font-weight: 600;
    color: white;
    margin: 0;
    box-sizing: border-box;
    font-size: 1.3rem;
}

.btn-1-2 {
    background: #ffffeb00;
    border: solid 2px black;
    color: black;
    margin-left: 1.5rem;
}

.hero__text a:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12);
    transition: all ease-in-out .1s;
}

.arrow-1 {
    max-width: 2rem;
    padding: 2rem 0 0 0;
    margin: 0 auto;
}

.arrow_1 {
    text-decoration: none;
    opacity: .6;
    color: #000;
}

.hero-2 {
    max-width: 100%;
    margin: 9.6rem 0 2rem 0;
    /*7.5*/
    padding: 0;
    justify-content: space-between;
    display: flex;
}

.section__title {
    padding: 0 0 0 1.2rem;
    margin: 0;
    font-size: 2.6rem;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    font-style: normal;
}

.section__description {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    margin: 0 0 3rem 0;
    padding: 1.7rem 0 0 1.7rem;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.022em;
}

.table {
    font-size: 1.6rem;
    font-weight: 500;
    border: 1px solid black;
    border-radius: 5px;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 0px;
    line-height: 2.2em;
    padding: 1rem 1rem 1rem 3rem;
    margin-bottom: 1rem;
}

.td-2 {
    padding: 0 4rem;
}

.btn-2 {
    background-color: black;
    text-align: center;
    padding: 1rem;
    max-width: 70%;
    margin: 0 auto;
    border-radius: 5px;
}

.btn-2__link {
    text-decoration: none;
    color: #ffffeb;
    font-size: 1.5rem;
    font-weight: 600;
}

.img__slider {
    max-width: 100%;
    margin: 0 auto;
}

.img-1 {
    margin: 0 0 1% 0;
}

.img-1_1 {
    width: 64%;
    box-sizing: border-box;
    border: 1px solid #A5A5A5;
    border-radius: 5px;
}

.img-1_2 {
    width: 35%;
    box-sizing: border-box;
    border: 1px solid #A5A5A5;
    border-radius: 5px;
}
